body {
    padding: 0px;
    margin: 0px;
}

h3 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 22px;
}

p {
    margin: 0px;
}

#map {
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    background-image: url('pictures/bitmap.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

#map2 {
    overflow-y: hidden;
    font-family: 'Roboto';
    background-image: url('pictures/destinationMap.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

#map3 {
    overflow-y: hidden;
    font-family: 'Roboto';
    background-image: url('pictures/Walkie.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

#walkie {
    float: left;
    position: relative;
}

#search_menu {
    height: 100vh;
    width: auto;
}

#contain {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    position: absolute;
}

input[type=text] {
    color: #bfbfbf;
    background-color: #2b2b2b;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 42px;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    padding: 18px 76px;
    font-size: 16px;
    text-align: center;
}

#prnt {
    height: 100vh;
    width: auto;
}

#chld {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    position: absolute;
}

/*infoBox = Grey Box*/

.infoBox {
    width: 100%;
    height: 87px;
    background-color: #464650;
}

.infoText {
    padding-bottom: 33.9px;
    padding-top: 34.9px;
    padding-left: 43.4px;
    height: 87px;
    color: white;
}

.btn1 {
    position: relative;
    width: 50px;
    height: 12px;
    background-color: #0000ff;
    -webkit-box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    border-radius: 42px;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    padding: 18px 76px;
    text-decoration: none;
    color: white;
    text-align: justify;
    margin: 10px;
}

.btn2 {
    position: relative;
    left: 10px;
    width: 10px;
    height: 2px;
    background-color: #0045ff;
    -webkit-box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    border-radius: 60px;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
    text-align: justify;
}

.textLink {
    position: relative;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    color: #2b2b2b;
    text-align: justify;
}

#search {
    position: absolute;
    left: 8%;
    top: 33%;
    z-index: 2;
}

#rounded {
    padding-top,
    padding-bottom: 16px;
    padding-left,
    padding-right: 32px;
    border-radius: 27px;
}

#roundedDark {
    padding-top,
    padding-bottom: 16px;
    padding-left,
    padding-right: 32px;
    border-radius: 27px;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
}

#roundedDark2 {
    width: 242.8px;
    height: 51px;
    border-radius: 27px;
    background-color: #2b2b2b;
    box-shadow: 0 6px 10px 0 rgba(49, 67, 123, 0.3);
    padding-top: 12px;
}

#roundedDark2 {
    padding-top,
    padding-bottom: 16px;
    padding-left,
    padding-right: 32px;
    border-radius: 27px;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    height: 51px;
    width: 242.8px;
}

#boxShadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
}

.dot {
    height: 53.6px;
    width: 53.6px;
    background-color: #0045ff;
    border-radius: 50%;
    border: none;
}

#selectDest {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #0000ff;
}

#confirmDest {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
}

.infoText2 {
    padding-bottom: 33.9px;
    padding-top: 34.9px;
    padding-left: 30px;
    height: 87px;
    color: #2b2b2b;
}

#center_text {
    font-family: Roboto;
    color: #4c4c4c;
    width: 450px;
    height: 64px;
    size: 22px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding-left: 67.8px;
    padding-top: 60.2px;
    padding-right: 78.2px;
    display: inline-block;
}

#blue_text {
    size: 16px;
    font-family: Roboto;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #0000ff;
    width: 229px;
    height: 32px;
    display: block;
}

#txtbox {
    width: 360px;
    height: 123.3px;
    border: solid 2px #2b2b2b;
    display: block;
    color: #2b2b2b;
    text-align: left;
    padding-left: 16px;
}

::placeholder {
    color: grey;
}

#img {
    width: 64px;
    height: 72px;
    object-fit: contain;
    padding-bottom: 380.3px;
    padding-left: 174.8px;
    padding-right: 175.2px;
    padding-top: 283.7px;
}

.container {
    padding-left: 25%;
    display: block;

}

#center_text2 {
    width: 259px;
    height: 52px;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #4c4c4c;
}

#greytxt {
    width: 207px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #9b9bac;
    padding-bottom: 283.3px;
    padding-left: 103.3px;
    padding-right: 103.7px;
    padding-top: 420.7px;
}
