#map {
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    background-image: url('pictures/bitmap.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

#map2 {
    overflow-y: hidden;
    font-family: 'Roboto';
    background-image: url('pictures/destinationMap.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

#search_menu {
    height: 100vh;
    width: auto;
}

#contain {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    position: absolute;
}

input[type=text] {
    color: #bfbfbf;
    background-color: #2b2b2b;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 42px;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    padding: 18px 76px;
    font-size: 16px;
    text-align: center;

}

#prnt {
    height: 100vh;
    width: auto;
}

#chld {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    position: absolute;
}

.btn1 {
    position: relative;
    width: 50px;
    height: 12px;
    background-color: #2b2b2b;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    border-radius: 42px;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    padding: 18px 76px;
    text-decoration: none;
    color: white;
    text-align: justify;
}

.btn2 {
    position: relative;
    left: 10px;
    width: 10px;
    height: 2px;
    background-color: #0045ff;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
    border-radius: 60px;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
    text-align: justify;
}

#search {
    position: absolute;
    left: 8%;
    top: 33%;
    z-index: 2;
}

#rounded {
    padding-top,
    padding-bottom: 16px;
    padding-left,
    padding-right: 32px;
    border-radius: 27px;
}

#roundedDark {
    padding-top,
    padding-bottom: 16px;
    padding-left,
    padding-right: 32px;
    border-radius: 27px;
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
}

#boxShadow {
    box-shadow: 0 6px 20px 0 rgba(49, 67, 123, 0.3);
}

.dot {
    height: 53.6px;
    width: 53.6px;
    background-color: #0045ff;
    border-radius: 50%;
    border: none;
}

#selectDest {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #0000ff;
}

#confirmDest {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
}
